<br>
<div class="btn-toolbar">
  <div class="btn-group">
    <a href="#" class="btn btn-default">MB</a>
    <div class="btn-group">
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Blogs
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Dropdown link</a></li>
        <li><a href="#">Dropdown link</a></li>
        <li><a href="#">Dropdown link</a></li>
       </ul>
    </div>
  </div>
</div>
<br><br><br>

<div class="btn-group-vertical">
  <a href="#" class="btn btn-default">Spheres</a>
  <a href="#" class="btn btn-default">Insults</a>
  <a href="#" class="btn btn-default">Task Lister</a>
  <a href="#" class="btn btn-default">Spotify</a>
  <a href="#" class="btn btn-default">Google Maps</a>
  <a href="#" class="btn btn-default">DrawBoard</a>
</div>
