<div class="jumbotron">
  <div class='col-xs-4'>
  </div>
  <div class='col-xs-8'>
    <br><br><br><br>
    <h2>Matthew Billie</h2><br>
    <p class='small-text-mcb'>Welcome! This is a collection of blogs and projects, most of which were written while studying at Flatiron School! Special thanks goes out to my instructors and classmates!</p>
    <p class='small-text-mcb'>-Matthew Billie</p><br><br>
  </div>
</div>
